@{
    ViewBag.Title = "Kartessian Recover Password";
    Layout = "~/Views/Account/_Layout.cshtml";
}

<div class="tbl">
    <div class="cll">
        <div class="lgn-reg">
            <div style="float:left; padding:5px 0;">
                <a href="/"><img src="/images/kartessian.png" alt="Kartessian" /></a><small class="beta">BETA</small>        
            </div>
            <div class="clear"></div>
            <div style="height:0; border-bottom:1px solid #ddd; border-top:1px solid #eee; margin:8px 0 12px 0;"></div>
            @if (ViewBag.result != null)
            {
                if (ViewBag.result =="OK") {
                    <div class="lgnerr">We've sent the password to your email address. Check your inbox.</div>
                }
                else
                {
                <div class="lgnerr">The email address has not been found.</div>
                }
            }
            <span style="font-size: 13px;">Lost your password?<br />Enter your email address and we will send it to you.</span>
            <div class="lgnbox">
                <form action="/DoRegister">
                    <span>Email</span>
                    <input type="text" class="lgnipt" placeholder="email address" name="email" value="@ViewBag.email" />
                    <br />
                    <br />
                    <div>
                        <button type="submit" class="bnGreen" style="width: 90px; float: right;">Submit</button>
                        <div class="clear"></div>
                    </div>
                </form>
            </div>
            <a href="/Account/Login">Login</a> | <a href="/Account/Register">Register</a>
        </div>
    </div>
</div>
<script>$(function () { $("form").attr("method", "post").attr("action", ""); })</script>