@model MVCproject.Default_Index
@{
    ViewBag.Title = "Kartessian Editor";
    Layout = "~/Views/Editor/_Layout.cshtml";
}

<div id="ktsn-map"></div>

<div id="ktsn-menu">@Html.Partial("SideBar")</div>

<div id="ktsn-tools"></div>

<div id="ktsn-data"></div>

<div id="ktsn-mapname">Kartessian Map Editor</div>

<div id="ktsn-busy-background"></div>

<div id="ktsn-busy-dialog">Loading...</div>

<div id="ktsn-dialogs" class="dialog-wrap">
    <div>
        @Html.Partial("Dialogs", Model)
    </div>
</div>

@section scripts {
    window.onload = function () { ktsn.init(); }
}
