@{
    ViewBag.Title = "Kartessian Editor";
    Layout = "~/Views/Editor/_Layout.cshtml";
}

<div id="ktsn-map"></div>

<div id="ktsn-tools">@Html.Partial("SideBar")</div>

<div id="ktsn-data"></div>
