<ul class="sidebar-menu">
    <li class="sidebar-user" data-dialog="user" data-type="popup" data-width="350px">Account</li>
    <li class="sidebar-my" data-dialog="my" data-type="side" data-width="350px">My Maps</li>
    <li class="sidebar-style" data-dialog="style" data-type="side" data-width="400px">Style</li>
    <li class="sidebar-layers" data-dialog="layers" data-type="side" data-width="350px">Layers</li>
    <li class="sidebar-share" data-dialog="share" data-type="popup" data-width="300px">Share</li>
</ul>

<div class="zoom-panel">
    <span class="zoom-in"></span>
    <span class="zoom-out"></span>
    <span class="zoom-level">5</span>
</div>