<ul class="sidebar-menu">
    <li class="sidebar-user" data-section="user" data-width="350px">Details</li>
    <li class="sidebar-my" data-section="my" data-width="350px">My Maps</li>
    <li class="sidebar-style" data-section="style" data-width="400px">Style</li>
    <li class="sidebar-layers" data-section="layers" data-width="350px">Layers</li>
    <li class="sidebar-share" data-section="share" data-width="300px">Share</li>
</ul>

<div class="zoom-panel">
    <span class="zoom-in"></span>
    <span class="zoom-out"></span>
    <span class="zoom-level">5</span>
</div>