@model MVCproject.Default_Index

<div id="ktsn-dialogs-my" class="side-window">

    <a href="#" class="bnClose" style="float: right;"></a>
    <button class="bnCreate right">New Map</button>
    <h3>My Maps</h3>
    <ul class="map-list">
        @foreach (var map in Model.maps)
        {
            <li data-id="@map.id" class="@map.access">
                <span>@map.name</span>
                <a href="#" class="bn-icon-delete right"></a>
                <small>@map.description</small>
            </li>
        }
    </ul>
</div>

<div id="ktsn-dialogs-style" class="side-window">

        <a href="#" class="bnClose right"></a>
        <h3>Map Style</h3>
        <h4>Base Layer</h4>
        <ul class="item-list" id="maptypes">
            <li data-id="roadmap">
                <img src="/images/map_road.png" />Road Map</li>
            <li data-id="satellite">
                <img src="/images/map_satellite.png" />Satellite</li>
            <li data-id="hybrid">
                <img src="/images/map_hybrid.png" />Hybrid</li>
            <li data-id="terrain">
                <img src="/images/map_terrain.png" />Terrain</li>
        </ul>

        <h4>Layer Style</h4>
        <ul class="item-list" id="mapstyles">
            <li data-id="1">
                <img src="/images/map_default.png" />Default</li>
            <li data-id="2">
                <img src="/images/map_inverted.png" />Inverted</li>
            <li data-id="3">
                <img src="/images/map_sepia.png" />Sepia</li>
            <li data-id="4">
                <img src="/images/map_dark.png" />Dark</li>
        </ul>

        <h4>Features</h4>
        <ul class="option-list" id="map-features">
            <li>Water
                <input type="checkbox" data-type="featureType" data-name="water" checked class="switch" id="f-water" /><label for="f-water"></label>
                <a href="#" class="pick-color" data-color="#b3d1ff"></a>
            </li>
            <li>Lanscape
                <input type="checkbox" data-type="featureType" data-name="landscape" checked class="switch" id="f-land" /><label for="f-land"></label>
                <a href="#" class="pick-color"></a>
            </li>
            <li>Labels
                <input type="checkbox" data-type="elementType" data-name="labels" data-weight="0.1" checked class="switch" id="f-label" /><label for="f-label"></label>
                <a href="#" class="pick-color"></a>
            </li>
            <li>Administrative
                <input type="checkbox" data-type="featureType" data-name="administrative" checked class="switch" id="f-admin" /><label for="f-admin"></label>
                <a href="#" class="pick-color"></a>
            </li>
            <li>Roads
                <input type="checkbox" data-type="featureType" data-name="road" checked class="switch" id="f-road" /><label for="f-road"></label>
                <a href="#" class="pick-color"></a>
            </li>
            <li>Point of Interest
                <input type="checkbox" data-type="featureType" data-name="poi" checked class="switch" id="f-poi" /><label for="f-poi"></label>
            </li>
            <li>Transit
                <input type="checkbox" data-type="featureType" data-name="transit" checked class="switch" id="f-transit" /><label for="f-transit"></label>
            </li>
@*            <li>Zoom Control
                <input type="checkbox" data-type="control" data-name="zoom" checked class="switch" id="c-zoom" /><label for="c-zoom"></label>
            </li>*@
        </ul>

</div>

<div id="ktsn-dialogs-layers" class="side-window">

    <a href="#" class="bnClose right"></a>
    <h3>Layers <small>(x of y)</small></h3>
    <ul class="layer-list" id="ktsn-layer-list">
        <li>
            <a href="#" class="bn-icon-delete right"></a>
            <span>This is the layer name here</span>
            <small>3,120 points</small>
        </li>
    </ul>

</div>