<div id="ktsn-dialogs-style" class="side-window">
    <h3>Map Style</h3>
    <h4>Base Layer</h4>
    <ul class="box-list" id="maptypes">
        <li data-id="roadmap">
            <img src="/images/map_road.png" />Road Map</li>
        <li data-id="satellite">
            <img src="/images/map_satellite.png" />Satellite</li>
        <li data-id="hybrid">
            <img src="/images/map_hybrid.png" />Hybrid</li>
        <li data-id="terrain">
            <img src="/images/map_terrain.png" />Terrain</li>
    </ul>

    <h4>Layer Style</h4>
    <ul class="box-list" id="mapstyles">
        <li data-id="1">
            <img src="/images/map_default.png" />Default</li>
        <li data-id="2">
            <img src="/images/map_inverted.png" />Inverted</li>
        <li data-id="3">
            <img src="/images/map_sepia.png" />Sepia</li>
        <li data-id="4">
            <img src="/images/map_dark.png" />Dark</li>
    </ul>

    <h4>Features</h4>
    <ul class="option-list">
        <li>Water
                    <input type="checkbox" data-type="featureType" data-name="water" checked class="switch" id="f-water" /><label for="f-water"></label></li>
        <li>Lanscape
                    <input type="checkbox" data-type="featureType" data-name="landscape" checked class="switch" id="f-land" /><label for="f-land"></label></li>
        <li>Labels
                    <input type="checkbox" data-type="elementType" data-name="labels" checked class="switch" id="f-label" /><label for="f-label"></label></li>
        <li>Administrative
                    <input type="checkbox" data-type="featureType" data-name="administrative" checked class="switch" id="f-admin" /><label for="f-admin"></label></li>
        <li>Roads
                    <input type="checkbox" data-type="featureType" data-name="road" checked class="switch" id="f-road" /><label for="f-road"></label></li>
        <li>Point of Interest
                    <input type="checkbox" data-type="featureType" data-name="poi" checked class="switch" id="f-poi" /><label for="f-poi"></label></li>
        <li>Transit
                    <input type="checkbox" data-type="featureType" data-name="transit" checked class="switch" id="f-transit" /><label for="f-transit"></label></li>
        <li>Zoom Control
                    <input type="checkbox" data-type="control" data-name="zoom" checked class="switch" id="c-zoom" /><label for="c-zoom"></label></li>
    </ul>
</div>
