@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Kartessian - Exception</title>
</head>
<body>
    
    <div style="margin:32px;">
        <div style="background-color:#ff6a00; color:#fff; font-size:64px; text-align:center; border-radius:50%; overflow:hidden; width:100px; height:100px; line-height:100px; float:left; margin:0 24px 24px 0;">!</div>
        <h1>Exception</h1>
        <h2>An error has occurred during the current operation.</h2>
        <div>
            <a href="/">Back to the begining</a>
            | <a href="//kartessian.com">Kartessian Website</a>
            | Reload the page won't help :(
        </div>
    </div>
</body>
</html>
