@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600);

@font-face {
    font-family: 'FontAwesome';
    src: url('fonts/fontawesome-webfont.eot?v=4.1.0');
    src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'), url('fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'), url('fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'), url('fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@-ms-viewport {
    zoom: 1.0;
    width: device-width;
}

@-moz-viewport {
    zoom: 1.0;
    width: device-width;
}

@-webkit-viewport {
    zoom: 1.0;
    width: device-width;
}

@viewport {
    zoom: 1.0;
    width: device-width;
}

html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

body {
    background: #fff url(/Images/back-pattern.png);
    color: #232323;
    font-family: "Open Sans", Sans-Serif;
    font-size: 14px;
}

h3
{
    margin: 5px 0 10px 0;
    padding: 0;
    font-size: 18px;
    font-weight: 600;
}

h3 small {
    color:#525252;
    font-style:italic;
    font-weight:400;
    font-size:16px;
}

button {
    border-radius:2px;
    padding: 0 8px;
    height:24px;
    line-height:24px;
    text-align:center;
    min-width:50px;
    background-color: #ccc;
    border: 1px solid #bbb;
    color: #333;
    text-shadow: 0px 1px rgba(140,140,140,0.1);
    cursor:pointer;
    outline:none;
    font-size:12px;
    margin:0 6px;
}

    button:hover
    {
        background:#aaa;
        border: 1px solid #a2a2a8;
    }

    button:active
    {
        background-color: #999;
        border: 1px solid #929298;
    }

.right {float:right;}
.left {float:left;}
.hidden {display:none;}

.bnCreate, .bnSave {
    background:#d14836;
    color:#fff;
    text-shadow: 0px 1px rgba(0,0,0,0.1);
    border:1px solid #b0281a
}
.bnCreate:hover, .bnSave:hover {
    background:#c53727;
    border: 1px solid #af301f;
}
.bnCreate:active, .bnSave:active {
    background-color: #b0281a;
    border: 1px solid #992a1b;
}
.bnCreate::before {
    content:'\f067';
    font-family:FontAwesome;
    margin-right:4px;
}

a.bnClose
{
    padding: 12px;
    margin: 0;
    background: url(/images/bn-close.png) no-repeat center center;
    cursor: pointer;
    opacity: .7;
}
a.bnClose:hover
{
    opacity: 1;
}

dl {
    font-size:12px
}

dl::after {
    content:'';
    display:block;
    clear:both;
}

dt
{
    float: left;
    margin: 2px 2px 0 0;
    width: 100px;
    clear:left;
    line-height:24px;
}
dd
{
    width:200px;
    padding:0;
    margin:2px 0 0 0;
    float:left;
}

    dd input
    {
        width: 100%;
        font-size: 12px;
        font-family: 'Open Sans',sans-serif;
        padding: 2px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

#ktsn-map {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 100px;
    z-index: 0;
    overflow: hidden;
}

#ktsn-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 99px;
    height: 100%;
    z-index: 1;
    background-color: #3c4e5a;
    box-shadow: 1px 0 1px 0 #333;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#ktsn-tools {
    position: fixed;
    top: 0;
    left: 99px;
    width: 400px;
    height: 100%;
    z-index: 2;
    background-color: #fff;
    box-shadow: 1px 0 1px 0 #333;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display:none;
    overflow:hidden;
}

#ktsn-data
{
    position: fixed;
    z-index: 1;
    background-color: #fff;
    height: 300px;
    right: 0;
    bottom: 0;
    left: 100px;
    display: none;
}

#ktsn-mapname {
    position: fixed;
    top: 8px;
    left: 136px;
    padding: 4px 12px;
    border-radius: 3px;
    background: rgba(0,0,0,.5);
    color: #fff;
    z-index: 1;
    font-size: 12px;
    text-shadow: 0 0 1px rgba(255,255,255,.2);
    overflow: hidden;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

#ktsn-busy-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    overflow: hidden;
    background: rgba(220,220,220,.5);
}

#ktsn-busy-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
    width: 200px;
    height: 50px;
    z-index: 11;
    overflow: hidden;
    border: 1px solid #3c4e5a;
    border-radius: 2px;
    box-shadow: 0 0 15px #3c4e5a;
    text-align: center;
    background: #fff url(/Images/preloader.gif) no-repeat 20px center;
    line-height: 50px;
}

#ktsn-dialogs {

}

.dialog-wrap
{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

    .dialog-wrap > div
    {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }

.dialog-window
{
    display: none;
    overflow: hidden;
    border: 1px solid #3c4e5a;
    border-radius: 2px;
    box-shadow: 0 0 15px #3c4e5a;
    background: #fafafa url(/images/watermark.png) no-repeat 16px bottom;
    margin: auto;
}

.dialog-icon {}

.dialog-icon:before
{
    content: '';
    display: block;
    padding: 16px;
    width: 0;
    height: 0;
    margin: 0 auto 4px;
    background-position-x: left;
    background-repeat: no-repeat;
    background-image: url(/images/sidebar.mini.png);
}

.dialog-status {
    float:left;
}

.side-window
{
    padding:10px;
    display:none;
}

.sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size:12px;
}

    .sidebar-menu li {
        margin: 0;
        padding: 15px 0;
        text-align: center;
        width: 100%;
        color: #c1c1c1;
        cursor: pointer;
        position: relative;
    }

        .sidebar-menu li::before {
            content: '';
            display: block;
            padding: 16px;
            width: 0;
            height: 0;
            margin: 0 auto 4px;
            background-position-x: left;
            background-repeat: no-repeat;
            background-image: url(/images/sidebar.mini.png);
        }

        .sidebar-menu li:hover, .sidebar-menu li.selected {
            background-color: #333333;
            color: #fff;
        }

            .sidebar-menu li:hover::before, .sidebar-menu li.selected::before {
                background-position-x: -32px;
            }

            .sidebar-menu li.selected::after {
                content: '';
                display: block;
                width: 0;
                height: 0;
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
                border-right: 10px solid #fff;
                position: absolute;
                right: 0;
                top: 24px;
            }

.sidebar-user::before
{
    background-position-y: -132px;
}

.sidebar-my::before {
    background-position-y: -64px;
}

.sidebar-style::before
{
    background-position-y: -98px;
}

.sidebar-layers::before
{
    background-position-y: top;
}

.sidebar-share::before
{
    background-position-y: -32px;
}

.zoom-panel {
    position: absolute;
    bottom: 16px;
    left: 8px;
    width: 80px;
    margin: 8px auto;
    border-radius: 3px;
    overflow: hidden;
    border-collapse: collapse;
    text-align: center;
    border: 1px solid #ccc;
}

.zoom-out {
    border-left: 1px solid #ccc;
}

.zoom-out, .zoom-in {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    border-collapse: collapse;
    border-bottom: 1px solid #ccc;
    height: 24px;
    line-height: 24px;
    display: table-cell;
    width: 40px;
    background-color: #fafafa;
    color: #444;
}

    .zoom-out:hover, .zoom-in:hover {
        background-color: #525252;
        color: #fafafa;
        cursor: pointer;
    }

    .zoom-out::before {
        font-family: FontAwesome;
        content: '\f068';
    }

    .zoom-in::before {
        font-family: FontAwesome;
        content: '\f067';
    }

.zoom-level::before {
    font-family: FontAwesome;
    content: '\f002';
    padding-right: 8px;
    margin-left: -5px;
}

.zoom-level {
    width: 100%;
    display: inline-block;
    height: 16px;
    line-height: 16px;
    color: #e0e0e0;
    padding: 5px 0;
}

.pick-color {
    padding:8px;
    background:url(/images/colors.png) no-repeat center center;
    float:right;
}

.map-list, .layer-list, .option-list
{
    list-style: none;
    padding: 0;
    margin: 0;
    border-top: 1px solid #f0f0f0;
}

    .map-list li,.layer-list li, .option-list li
    {
        width: 100%;
        padding: 8px 5px;
        line-height: 18px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-bottom: 1px solid #f0f0f0;
    }

    .map-list li {
        height: 50px;
    }

        .map-list li.selected
        {
            background: url(/images/tick.png) no-repeat right top;
        }

        .map-list li.selected, .map-list li:hover
        {
            background-color: #525252;
            color: #fafafa;
            cursor: pointer;
        }

            .map-list li:hover span, .map-list li:hover small, .map-list li:hover a
            {
                color: #fafafa !important;
            }

        .map-list li span
        {
            display: block;
            color: #222;
        }

        .map-list li small
        {
            font-size: 12px;
            color: #525252;
            font-style: italic;
        }

        .map-list li.selected span, .map-list li.selected small, .map-list li.selected .bn-icon-delete
        {
            color: #fafafa;
        }

    .layer-list li {

    }

    .layer-list li span {
        display: block;
        color: #222;
    }

    .layer-list li small {
        font-size:12px;
        color: #525252;
    }

    .layer-list li small::before {
        content:'\f041';
        font-family:FontAwesome;
        font-size:14px;
        margin-right:4px;
        display:inline-block;
    }

.item-list
{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #525252;
    border:1px solid #3c4e5a;
    overflow:hidden;
    height:94px;
}
.item-list::after {
    content:'';
    display:block;
    clear:both;
}

.item-list li {
    margin:10px 6px;
    padding:0;
    border-radius:3px;
    overflow:hidden;
    width:80px;
    height:70px;
    float:left;
    background-color:#fff;
    font-size:10px;
    text-align:center;
    border:1px solid #3c4e5a;
}



    .item-list li.selected, .item-list li:hover
    {
        cursor: pointer;
        border: 1px solid #3d99f5;
        box-shadow:0 0 1px 2px #3d99f5;
    }

.option-list
{
    list-style: none;
    padding: 0;
    margin: 0;
    border-top: 1px solid #f0f0f0;
}
    .option-list li {
        width: 100%;
        padding: 8px 5px;
        line-height: 18px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-bottom: 1px solid #f0f0f0;
    }

    .option-list li input,.option-list li label {
        float:right;
    }


/* layer list style and buttons */

.ds-load {
    color:#525225;
}
.ds-load::before {
    content:'';
    background:url(/images/preloader-white.gif) no-repeat center center;
    padding:8px;
    margin-right:4px;
}

.bn-icon-delete,.bn-icon-data, .bn-icon-edit,.bn-icon-math,.bn-icon-style {
    font-family:FontAwesome;
    text-decoration:none;
    color:#525252;
    margin-left:4px;
    font-size:14px;
    border:1px solid transparent;
    border-radius:2px;
    display:inline-block;
    text-align:center;
    width:16px;
}

    .bn-icon-delete:hover,.bn-icon-data:hover,.bn-icon-edit:hover,.bn-icon-math:hover,.bn-icon-style:hover
    {
        color:#fff;
        text-shadow:0 0 1px rgba(200,200,200,.2);
        border:1px solid #525252;
        background-color:#525252;
    }

.bn-icon-delete::before {
    content:'\f014';
    display:block;
}

.bn-icon-data::before {
    content:'\f00a';
    display:block;
}

.bn-icon-style::before {
    content:'\f1de';
    display:block;
}

.bn-icon-edit::before {
    content:'\f040';
    display:block;
}

.bn-icon-math::before {
    content:'\f12b';
    display:block;
}

/* infobox */

.infobox::after,.infobox::before {
    content:'';
    display:block;
    position:absolute;
    margin-left:-14px;
    bottom:-14px;
    left:50%;
    width: 0; 
	height: 0; 
	border-left: 14px solid transparent;
	border-right: 14px solid transparent;
	border-top: 14px solid #ccc;
}
.infobox::after
{
    bottom:-12px;
    margin-left:-12px;
    border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-top: 12px solid #fff;
}

.infobox
{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 4px;
    position: relative;
    margin-top: 8px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #ccc;
    min-height: 64px;
    min-width:180px;
}

.infobox > div {
}

.infobox > img {
    float:right;
}

/* nano scroller */
/** initial setup **/
.nano {
  overflow:hidden;
}
.nano > .nano-content {
  position      : absolute;
  overflow      : scroll;
  overflow-x    : hidden;
  top           : 0;
  right         : 0;
  bottom        : 0;
  left          : 0;
}
.nano > .nano-content:focus {
  outline:none;
}
/*.nano > .nano-content::-webkit-scrollbar {
  visibility: hidden;
}*/
.has-scrollbar > .nano-content::-webkit-scrollbar {
  visibility: visible;
}
.nano > .nano-pane {
  background : #ebebeb;
  /*background : rgba(0,0,0,.25);*/
  position   : absolute;
  width      : 10px;
  right      : 0;
  top        : 0;
  bottom     : 0;
  visibility : hidden\9; /* Target only IE7 and IE8 with this hack */
  /*opacity    : .01;*/
  -webkit-transition    : .2s;
  -moz-transition       : .2s;
  -o-transition         : .2s;
  transition            : .2s;
}
.nano > .nano-pane > .nano-slider {
    background: #cdcdcd;
    position: relative;
    /*margin: 0 1px;*/
}
.nano:hover > .nano-pane, .nano-pane.active, .nano-pane.flashed {
  visibility : visible\9; /* Target only IE7 and IE8 with this hack */
  opacity    : 0.99;
}


/* Checboxes */
/* static */
input[type=checkbox].css-checkbox {
	position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height:1px; 
    width:1px; 
    margin:-1px; 
    padding:0;
    border:0;
}

input[type=checkbox].css-checkbox + label {
	padding-left:22px;
    height:20px; 
	display:inline-block;
	line-height:20px;
	background-repeat:no-repeat;
	background-position: 0 0;
	vertical-align:middle;
    cursor:pointer;
    background-image:url(/images/klaus.png);
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
margin-right:10px;
}

input[type=checkbox].css-checkbox:checked + label {
    background-position: 0 -20px;
}

/* animated checkbox */
 input[type="checkbox"].switch { /*  here acting as a filter for older browsers */
	position: absolute;
	opacity: 0;
}

    input[type="checkbox"].switch + label {
        display: inline-block;
        vertical-align: middle;
        width: 3em;
        height: 1em;
        border: 1px solid rgba(0,0,0,.3);
        border-radius: 999px;
        cursor: pointer;
        margin: 0 .5em;
        background: white;
        background-image: linear-gradient(rgba(0,0,0,.1), transparent), linear-gradient(90deg, #3d99f5 50%, transparent 50%);
        background-size: 200% 100%;
        background-position: 100% 0;
        -moz-background-origin: border-box;
        -webkit-background-origin: border-box;
        background-origin: border-box;
        -moz-background-clip: border-box;
        -webkit-background-clip: border-box;
        background-clip: border-box;
        overflow: hidden;
        -moz-transition-duration: .2s;
        -o-transition-duration: .2s;
        -webkit-transition-duration: .2s;
        transition-duration: .2s;
        -moz-transition-property: padding, width, background-position, text-indent;
        -o-transition-property: padding, width, background-position, text-indent;
        -webkit-transition-property: padding, width, background-position, text-indent;
        transition-property: padding, width, background-position, text-indent;
        font-size: 14px; /* change this and see how they adjust! */
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        user-select: none;
    }

 input[type="checkbox"].switch:checked + label {
	padding-left: 2em;	width: 1em;
	background-position: 0 0;
}

 input[type="checkbox"].switch + label::before {
	content: 'On';
	float: left;
	width: 1.65em; height: 1.65em;
	margin: -.1em;
	border: 1px solid rgba(0,0,0,.35);
	border-radius: inherit;
	background: white;
	background-image: linear-gradient(rgba(0,0,0,.2), transparent);
	color: white;
	text-shadow: 0 -1px 1px rgba(0,0,0,.3);
	text-indent: -2.5em;
}

 input[type="checkbox"].switch:active + label::before {
	background-color: #eee;
}

 input[type="checkbox"].switch + label::before,
 input[type="checkbox"].switch + label::after {
	font: bold 60%/1.9 sans-serif;
	text-transform: uppercase;
}

 input[type="checkbox"].switch + label::after {
	content: 'Off';
	float: left;
	text-indent: .5em;
	color: rgba(0,0,0,.45);
	text-shadow: none;

}
